<div class="progress_Stat">
    <div class="bar-progress-wrap">
        <p class="bar-progress-info">Next: <span class="bar-progress-text">38<span class="bar-progress-unit">exp</span></span></p>
    </div>
    <div id="logged-user-level" class="progress-stat-bar" style="width: 110px; height: 4px; position: relative;">
        <canvas width="110" height="4" style="position: absolute;top: 0px;left: 0px;background-color: #f0f8ff73;"></canvas>
        <canvas width="80" height="4" style="position: absolute;top: 0px;left: 0px;background-color: #7fff0099;"></canvas>
    </div>
</div>
<div class="info_Lvl"><p>Level</p><Span>3</Span></div>