{% extends "/templates/template.twig" %}
{% block content %}
<div class="content-grid">
    <div class="section_Banner">
        <img class="section_Banner_Icon" src="public/imgs/banners/badges-icon.png" alt="quests-icon">
        <h1>Les Badges</h1>
        <p>Débloque les !</p>
    </div>

    <div class="grid grid-3">
        <h1>En construction</h1>
    </div>
</div>
{% endblock %}
