<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/all.min.css">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <title>{{ titlePage }}</title>
</head>
<body>
    {% if user == null %}
    <div id="login_Page" class="container-fluid row">
        <div class="login_Page_Info">
            <p>Bienvenue sur la platforme</p>
            <h1 class="login_Page_Info_Title">Getting Out Again</h1>
            <p class="login_Page_Info_Sub_Text">The next generation social network & community! Connect with your friends and play with our quests and badges gamification system!</p>
            <div class="btn_Contener">
                
                    <input type="radio" id="action_Login_Login" name="action_login" value="Connexion" checked class="action_login">
                    <label for="action_Login_Login" id="btn_Action_Login_Login">Connexion</label>
                
                    <input type="radio" id="action_Login_Register" name="action_login" value="Enregistrement" class="action_login">
                    <label for="action_Login_Register" id="btn_Action_Login_Register" >Enregistrement</label>
            </div>
        </div>
        <div class="login_Page_Form" >
            <div class="login_Page_From_Contener">
                <img src="/public/imgs/landing/rocket.png" alt="rocket" class="login_Page_Info_rocket">
                <div id="form_Forget" class="none">
                    <h2>Aide avec le mot de passe</h2>
                    <p>Saisissez l'adresse e-mail associé à votre compte <strong>Getting Out Again</strong>.</p>
                    <form action="" method="post" id="forget_Form">
                        <input type="text" name="email" placeholder="Votre Email">
                        <input type="submit" value="Continuer" class="btn btn-success">
                    </form>
                    <p class="lined-text">Retour à la connexion</p>
                    <div class="contener-fluid">
                        <a href="" id="back_connexion">Se connecter</a>
                    </div>
                </div>
                <div id="form_Login">
                    <h2>Log toi!</h2>
                    <form action="" method="post" id="login_Form">
                        <input type="text" name="login" placeholder="Votre login">
                        <input type="password" name="password" placeholder="Votre Password">
                        <div class="contener-fluid row sub_Input">
                            <div class="sub_Input_Item">
                                <div class="lab_Checkbox">
                                    <input type="checkbox" id="rememer" class="_checkbox" checked>
                                    <label for="rememer">
                                    </label>
                                    <span>On ne t'oublie pas.</span>
                                </div>
                            </div>
                            <div class="sub_Input_Item forget">
                                <a href="#" id="go_Forget">Un trou de mémoire?</a>
                            </div>
                        </div>
                        <input type="submit" value="Connexion" class="btn btn-success">
                    </form>
                    <p class="lined-text">Se connecter autrement</p>
                    <div class="contener-fluid">
                        des petites technique autre pour se connecter, ne sont pas encore actif
                    </div>
                </div>
                <div id="form_Register" class="none">
                    <h2>Créer ton compte</h2>
                    <form action="" method="post" id="register_Form">
                        <input type="email" name="email" id="email" placeholder="Votre E-Mail" required>
                        <input type="text" name="login" id="login" placeholder="Votre Login" required>
                        <input type="password" name="password" id="password" placeholder="Votre Password" required>
                        <input type="password" name="passwordVerif" id="passwordVerif" placeholder="Confirmation" >
                        <input type="submit" value="S'enregistrer" class="btn btn-success">
                    </form>
                    <p class="lined-text">Pas reçu le mail de confirmation ?</p>
                    <div class="contener-fluid">
                        <p>Si tu n'as pas reçu le mail de confirmation, tu peux nous contacter <a href="#">ici</a></p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    {% endif %}
    {% if user %}
    <header class="header">
      <nav class="navbar navbar-expand-sm navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Getting Out Again</a>
        <div class="header_Actions">
          <div class="sub_Menu_Action_Grid">
            <svg class="icons_Hover icon-grid">
              <use xlink:href="#svg-grid"></use>
            </svg>
          </div>
        </div>  
        <div class="header_Actions ">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
        
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <svg class="icon-dots">
                  <use xlink:href="#svg-dots"></use>
                </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">A propos</a>
                <a class="dropdown-item" href="#">Contact</a>
                <a class="dropdown-item" href="#">charte de confidentialité</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="header_Actions ">
          <div class="interactive-input dark">
            <input type="text" id="search-main" name="search_main" placeholder="Recherche ici, ce que tu veux !">
            <div class="interactive-input-icon-wrap">
              <svg class="icon-magnifying-glass">
                <use xlink:href="#svg-magnifying-glass"></use>
              </svg>
            </div>
          </div>
        </div>  
        <div class="header_Actions stats_User">
          <div class="progress_Stat">
            <div class="bar_Progress_Wrap">
              <p class="bar_Progress_Info">Next:</p> 
              <p class="bar_Progress_Info">30 EXP</p>
            </div>
            <div id="logged-user-level" class="progress_Stat_Bar">
              <canvas width="100" height="4" style="position: absolute; top: 0px; left: 0px;"></canvas>
              <canvas width="40" height="4" style="position: absolute; top: 0px; left: 0px; color:white"></canvas>
            </div>
          </div>
          <div class="info_Lvl">
            <p>Lvl</p>
            <p class="info_Lvl_Lvl">3</p>
          </div>
        </div>
        <div class="header_Actions ">
          <div class="action_List">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  <svg class="icons_Hover icon-shopping-bag">
                    <use xlink:href="#svg-shopping-bag"></use>
                  </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">A propos</a>
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">charte de confidentialité</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  <svg class="icons_Hover icon-friend">
                    <use xlink:href="#svg-friend"></use>
                  </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">A propos</a>
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">charte de confidentialité</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  <svg class="icons_Hover icon-messages">
                    <use xlink:href="#svg-messages"></use>
                  </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">A propos</a>
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">charte de confidentialité</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  <svg class="icons_Hover icon-notification">
                    <use xlink:href="#svg-notification"></use>
                  </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">A propos</a>
                  <a class="dropdown-item" href="#">Contact</a>
                  <a class="dropdown-item" href="#">charte de confidentialité</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="header_Actions ">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <svg class="icons_Hover icon-settings">
                  <use xlink:href="#svg-settings"></use>
                </svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">A propos</a>
                <a class="dropdown-item" href="#">Contact</a>
                <a class="dropdown-item" href="/Authentification/logout">Déconnexion</a>
              </div>
            </li>
          </ul>
        </div>
        
      </nav>
    </header>

    <div class="bottom_Actions_Mobile">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#" >
            <svg class="icons_Hover icon-shopping-bag">
              <use xlink:href="#svg-shopping-bag"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" >
            <svg class="icons_Hover icon-friend">
              <use xlink:href="#svg-friend"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" >
            <svg class="icons_Hover icon-messages">
              <use xlink:href="#svg-messages"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
            <svg class="icons_Hover icon-notification">
              <use xlink:href="#svg-notification"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" >
            <svg class="icons_Hover icon-settings">
              <use xlink:href="#svg-settings"></use>
            </svg>
          </a>

        </li>
      </ul>
    </div>

    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/public/js/utils/svg-loader.js"></script>
    <script src="/public/js/App.js"></script>
    <script src="/public/js/Etab.js"></script>
    <script src="/public/js/User.js"></script>
    <script>var app = new App();</script>
    </body>
</html>