@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");
/* line 5, ../sass/style.scss */
.none {
  display: none !important;
}

/* line 8, ../sass/style.scss */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

/* line 15, ../sass/style.scss */
button:focus {
  outline: none;
}

/* line 18, ../sass/style.scss */
*::before, *::after {
  display: block;
}

/* line 21, ../sass/style.scss */
ul, ol {
  list-style: none;
}

/* line 25, ../sass/style.scss */
a {
  text-decoration: none !important;
}

/* line 29, ../sass/style.scss */
select {
  appearance: none;
}

/* line 33, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p, ol, ul, figure, .table, .form-row {
  margin: 0;
}

/* line 36, ../sass/style.scss */
.icons {
  font-family: 'FontAwesome';
  font-size: 1.3rem;
  color: white;
}

/* line 41, ../sass/style.scss */
.contener-fluid {
  margin: 0 !important;
  width: 100%;
}

/* line 45, ../sass/style.scss */
.warning_Input {
  background-color: red !important;
}

/* line 49, ../sass/style.scss */
.visibility {
  visibility: visible !important;
}

/* line 53, ../sass/style.scss */
#conf_Sub_Menu {
  position: fixed;
  top: 70px;
  right: 15px;
  width: 150px;
  visibility: hidden;
  background-color: white;
  z-index: 10000;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -1px 5px 25px 0px rgba(0, 0, 0, 0.52);
}

/************************************************************************************************************/
/******************************************* register / login ***********************************************/
/************************************************************************************************************/
/* line 69, ../sass/style.scss */
#login_Page {
  margin: 0 !important;
  width: 100%;
  height: 100vh;
  background: url(/public/imgs/landing/landing-background.jpg) no-repeat 0;
  background-size: cover;
  z-index: 10001;
}
@media (max-width: 650px) {
  /* line 69, ../sass/style.scss */
  #login_Page {
    height: 100%;
  }
}
/* line 79, ../sass/style.scss */
#login_Page .login_Page_Info, #login_Page .login_Page_Form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 85, ../sass/style.scss */
#login_Page .login_Page_Info {
  color: white;
  width: 900px;
}
/* line 88, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 20px 0;
}
/* line 92, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener input {
  display: none;
}
/* line 95, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener label {
  display: -webkit-flex;
  display: flex;
  width: 250px;
  height: 60px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}
@media (max-width: 650px) {
  /* line 95, ../sass/style.scss */
  #login_Page .login_Page_Info .btn_Contener label {
    width: 150px;
    font-size: 1.2rem;
  }
}
/* line 112, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener #btn_Action_Login_Login {
  border-radius: 15px 0 0 15px;
}
/* line 115, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener #btn_Action_Login_Register {
  border-radius: 0 15px 15px 0;
}
/* line 118, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener input:checked + label {
  transition: 0.5s ease background-color;
  background-color: white;
  color: black;
}
/* line 124, ../sass/style.scss */
#login_Page .login_Page_Info .login_Page_Info_Title {
  font-family: Titillium Web,sans-serif;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}
/* line 130, ../sass/style.scss */
#login_Page .login_Page_Info .login_Page_Info_Sub_Text {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 70%;
  margin-top: 1.5rem;
}
/* line 138, ../sass/style.scss */
#login_Page .login_Page_Form {
  margin: 20px 0;
}
/* line 140, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener {
  position: relative;
  height: 600px;
  width: 500px;
  background-color: white;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 650px) {
  /* line 140, ../sass/style.scss */
  #login_Page .login_Page_Form .login_Page_From_Contener {
    width: 100%;
  }
}
/* line 152, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener .login_Page_Info_rocket {
  position: absolute;
  top: -20px;
  left: -60px;
}
/* line 157, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener h2 {
  text-align: center;
}
/* line 160, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget {
  width: 80%;
}
@media (max-width: 650px) {
  /* line 160, ../sass/style.scss */
  #login_Page .login_Page_Form .login_Page_From_Contener #form_Login, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget {
    width: 90%;
  }
}
/* line 165, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form {
  margin: 20px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 170, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form input, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form input, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form input {
  margin-top: 20px;
  border: 1px solid #615dfa;
}
/* line 174, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form input[type="submit"], #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form input[type="submit"], #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form input[type="submit"] {
  width: 100%;
  border: none;
}
/* line 179, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item {
  width: 50%;
  margin-top: 15px;
  -webkit-align-items: center;
  align-items: center;
}
/* line 182, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item input[type="checkbox"], #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item input[type="checkbox"], #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item input[type="checkbox"] {
  display: none;
}
/* line 186, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox {
  position: relative;
  display: inline;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 191, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox span, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox span, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox span {
  margin-left: 10px;
}
/* line 194, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox {
  display: none;
}
/* line 199, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox label {
  margin: 12px 0;
  width: 20px;
  height: 20px;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}
/* line 214, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}
/* line 231, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:hover:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label:hover:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox label:hover:before {
  width: 15px;
  height: 15px;
  box-shadow: inset 0 7px 10px #ff9d96;
}
/* line 238, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:active, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label:active, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox label:active {
  transform: translateY(-50%) scale(0.9);
}
/* line 242, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}
/* line 248, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label:before {
  width: 0;
  height: 0;
}
/* line 254, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked {
  transform: translate(0);
  opacity: 1;
}
/* line 262, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .forget, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .forget, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget form .forget {
  text-align: end;
}
/* line 266, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget .lined-text {
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}
/* line 272, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget .lined-text:before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 7px;
  vertical-align: middle;
}
/* line 281, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget .lined-text:before {
  left: 0;
}
/* line 284, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Forget .lined-text:after {
  right: 0;
}

/************************************************************************************************************/
/************************************************** header **************************************************/
/************************************************************************************************************/
/* line 295, ../sass/style.scss */
.header, .header .header_Action {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

/* line 301, ../sass/style.scss */
.header {
  height: 80px;
  background-color: #615dfa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
@media (max-width: 650px) {
  /* line 301, ../sass/style.scss */
  .header {
    height: 50px;
  }
}
/* line 311, ../sass/style.scss */
.header .header_Action_phone_top {
  display: none;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 650px) {
  /* line 311, ../sass/style.scss */
  .header .header_Action_phone_top {
    display: -webkit-flex;
    display: flex;
  }
}
/* line 322, ../sass/style.scss */
.header .header_Action_phone_top #link_Sub_Menu::before {
  font-size: 1.5rem;
}
/* line 325, ../sass/style.scss */
.header .header_Action_phone_top .header_Text {
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
}
/* line 330, ../sass/style.scss */
.header .header_Action_phone_top .interactive_Input {
  width: 60%;
}
/* line 333, ../sass/style.scss */
.header .header_Action_phone_top .interactive_Input input[type=text] {
  height: 50px;
  padding: 0 18px;
}
/* line 340, ../sass/style.scss */
.header .header_Action {
  justify-content: flex-end;
}
@media (max-width: 650px) {
  /* line 340, ../sass/style.scss */
  .header .header_Action {
    display: none;
  }
}
/* line 345, ../sass/style.scss */
.header .header_Action .header_Text {
  margin: auto;
  color: #fff;
  font-family: Titillium Web,sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 353, ../sass/style.scss */
.header .header_Action .progress_Stat {
  width: 110px;
  margin: auto;
}
/* line 357, ../sass/style.scss */
.header .header_Action .progress_Stat .bar-progress-wrap .bar-progress-info {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 365, ../sass/style.scss */
.header .header_Action .progress_Stat .bar-progress-wrap .bar-progress-unit {
  margin-left: 3px;
  text-transform: uppercase;
}

/* line 374, ../sass/style.scss */
.navigation {
  height: 80px;
}
/* line 376, ../sass/style.scss */
.navigation .menu_Main {
  display: flex;
}
/* line 378, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item {
  position: relative;
}
/* line 380, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item .menu_Main_Item_Link {
  padding: 0 24px;
  display: block;
  color: rgba(255, 255, 255, 0.3);
  font-size: .75rem;
  font-weight: 700;
  line-height: 80px;
  cursor: pointer;
  transition: color .2s ease-in-out;
}
/* line 390, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item .menu_Main_Item_Link:hover {
  color: white;
}

/* line 397, ../sass/style.scss */
#link_Sub_Menu::before {
  font-size: 1.2rem;
  content: "\f0c9";
}

/* line 402, ../sass/style.scss */
.info_Lvl {
  color: white;
  font-weight: 900;
  text-align: center;
}
/* line 406, ../sass/style.scss */
.info_Lvl span {
  font-size: 1.25rem;
}

/* line 412, ../sass/style.scss */
.header .action-list {
  height: 80px;
  display: flex;
  padding: 0 18px;
  position: relative;
}
/* line 417, ../sass/style.scss */
.header .action-list .action-list-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 14px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
/* line 425, ../sass/style.scss */
.header .action-list .action-list-item:hover {
  color: white;
}
/* line 428, ../sass/style.scss */
.header .action-list #market::before {
  content: "\f290";
}
/* line 431, ../sass/style.scss */
.header .action-list #friends::before {
  content: "\f0c0";
}
/* line 434, ../sass/style.scss */
.header .action-list #messages::before {
  content: "\f086";
}
/* line 437, ../sass/style.scss */
.header .action-list #notifs::before {
  content: "\f0f3";
}
/* line 441, ../sass/style.scss */
.header .action-list:after, .header .action-list:before {
  top: 24px;
  content: "";
  width: 1px;
  height: 32px;
  background-color: #dedeea;
  position: absolute;
}
/* line 449, ../sass/style.scss */
.header .action-list:before {
  right: 0;
}

/* line 455, ../sass/style.scss */
.header .action-item {
  width: 80px;
  height: 80px;
}

/* line 459, ../sass/style.scss */
.action-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* line 465, ../sass/style.scss */
#param::before {
  content: "\f085";
}

/* line 468, ../sass/style.scss */
.interactive_Input {
  width: 500px;
  height: 52px;
  position: relative;
}

/* line 473, ../sass/style.scss */
.interactive_Input .interactive_Input_Icon_Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

/* line 484, ../sass/style.scss */
.search_Icon::before {
  content: "";
}

/* line 487, ../sass/style.scss */
.interactive_Input input {
  height: 100%;
  padding-right: 60px !important;
}

/* line 491, ../sass/style.scss */
input[type=password], input[type=text], input[type=email] {
  height: 54px;
  padding: 0 18px;
}

/* line 495, ../sass/style.scss */
input[type=password], input[type=text], input[type=email], select, textarea {
  background-color: rgba(18, 26, 136, 0.452);
  color: white;
  transition: border-color .2s ease-in-out;
}

/* line 500, ../sass/style.scss */
button, input[type=password], input[type=text], input[type=email], select, textarea {
  width: 100%;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
}

/* line 506, ../sass/style.scss */
button, input[type=password], input[type=text], input[type=email], label, select, textarea {
  font-family: Rajdhani,sans-serif;
}

/************************************************************************************************************/
/*************************************************** body ***************************************************/
/************************************************************************************************************/
/* line 513, ../sass/style.scss */
body {
  font-size: 16px;
  background-color: #f8f8fb;
  overflow-x: hidden;
}

/* line 519, ../sass/style.scss */
.avatar {
  margin: 20px 0;
  position: relative;
}
/* line 522, ../sass/style.scss */
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

/* line 528, ../sass/style.scss */
.onligne {
  position: absolute;
  background-image: linear-gradient(120deg, #d4fc79 0%, #00ff22 100%);
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  border: 2px solid white;
}

/* line 538, ../sass/style.scss */
.lvl_avatar {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: white !important;
  width: 22px !important;
  height: 22px;
  border-radius: 15px;
  border: 2px white solid;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
}

/*************************************************** Sub Menu ***************************************************/
/* line 554, ../sass/style.scss */
.menu {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* line 559, ../sass/style.scss */
.menu .menu_Item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  color: rgba(172, 172, 172, 0.5);
  text-align: center;
  font-size: 2rem;
  transition: 0.3s;
}
/* line 571, ../sass/style.scss */
.menu .menu_Item span {
  color: rgba(172, 172, 172, 0.5);
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-size: 1.5rem;
}
/* line 578, ../sass/style.scss */
.menu .menu_Item span:hover {
  color: #6f86d6;
}
/* line 581, ../sass/style.scss */
.menu .menu_Item #newsfeed::before {
  content: "\f1ea";
}
/* line 584, ../sass/style.scss */
.menu .menu_Item #bar::before {
  content: "\f1ad";
}
/* line 587, ../sass/style.scss */
.menu .menu_Item #Groups::before {
  content: "\f0c0";
}
/* line 590, ../sass/style.scss */
.menu .menu_Item #newsfeed::before {
  content: "\f1ea";
}
/* line 593, ../sass/style.scss */
.menu .menu_Item #members::before {
  content: "\f007";
}
/* line 596, ../sass/style.scss */
.menu .menu_Item #members::before {
  content: "\f007";
}
/* line 599, ../sass/style.scss */
.menu .menu_Item #badges::before {
  content: "\f0a3";
}
/* line 602, ../sass/style.scss */
.menu .menu_Item #quests::before {
  content: "\f005";
}
/* line 605, ../sass/style.scss */
.menu .menu_Item #events::before {
  content: "\f271";
}
/* line 610, ../sass/style.scss */
.menu .menu_Item:hover {
  background-color: white;
  box-shadow: -1px 5px 25px 0px rgba(0, 0, 0, 0.52);
}

/* line 615, ../sass/style.scss */
.content-grid {
  max-width: 1184px;
  padding: 112px 0 100px;
  transform: translate(167.5px, 0px);
  transition: transform 0.4s ease-in-out 0s;
}
@media (max-width: 650px) {
  /* line 615, ../sass/style.scss */
  .content-grid {
    transform: translate(0);
  }
}

/* line 624, ../sass/style.scss */
.section_Banner {
  min-height: 160px;
  padding: 52px 60px 0 200px;
  border-radius: 12px;
  background: url(../imgs/banners/banner-bg.png) no-repeat 50%;
  position: relative;
}

/* line 632, ../sass/style.scss */
.section_Banner h1, .section_Banner p {
  color: white;
}

/* line 637, ../sass/style.scss */
.section_Banner h1 {
  font-size: 3rem;
  font-weight: 900;
}

/* line 644, ../sass/style.scss */
.section_Banner .section_Banner_Icon {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 650, ../sass/style.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 654, ../sass/style.scss */
.grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* line 660, ../sass/style.scss */
.etabs_Item_Cover {
  position: relative;
}

/* line 663, ../sass/style.scss */
.cat_Sticker {
  position: absolute;
  top: 10px;
  right: -10px;
  height: 32px;
  padding: 0 14px;
  border-radius: 200px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
  font-size: .875rem;
  font-weight: 700;
  line-height: 32px;
}

/* line 676, ../sass/style.scss */
.text_Sticker {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  padding: 0 14px;
  border-radius: 200px;
  background-color: black;
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 32px;
}

/* line 691, ../sass/style.scss */
.quest_Item {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  position: relative;
}

/* line 697, ../sass/style.scss */
.localisation {
  font-size: 1.1rem;
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: #615dfa;
}

/* line 704, ../sass/style.scss */
.section-filters-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 28px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  background-color: #fff;
}

/* line 715, ../sass/style.scss */
.lab_Checkbox_item {
  display: flex;
  flex-direction: row-reverse;
}
/* line 718, ../sass/style.scss */
.lab_Checkbox_item p {
  margin-left: 10px;
}
/* line 722, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox {
  position: relative;
  display: inline;
}
/* line 725, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox {
  display: none;
}
/* line 730, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}
/* line 748, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}
/* line 765, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:hover:before {
  width: 20px;
  height: 20px;
  box-shadow: inset 0 7px 10px #ff9d96;
}
/* line 772, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:active {
  transform: translateY(-50%) scale(0.9);
}
/* line 777, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark {
  position: absolute;
  top: -5px;
  right: 5px;
  left: -3px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-left: 5px;
  transform: rotateZ(-40deg);
}
/* line 790, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:before, .lab_Checkbox_item .lab_Checkbox #tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}
/* line 800, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:before {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-68px);
}
/* line 810, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:after {
  left: 0;
  bottom: 0;
  width: 25px;
  height: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(78px);
}
/* line 820, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}
/* line 826, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label:before {
  width: 0;
  height: 0;
}
/* line 832, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label #tick_mark:before, .lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label #tick_mark:after {
  transform: translate(0);
  opacity: 1;
}

/***********************************************************************************/
/* line 842, ../sass/style.scss */
.header_Action_Phone_Bottom {
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #615dfa;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
}
@media (max-width: 650px) {
  /* line 842, ../sass/style.scss */
  .header_Action_Phone_Bottom {
    display: -webkit-flex;
    display: flex;
  }
}
/* line 855, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 860, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List .action_List_Item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  padding: 0 14px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
/* line 868, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List .action_List_Item:hover {
  color: white;
}
/* line 871, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List #market::before {
  content: "\f290";
}
/* line 874, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List #friends::before {
  content: "\f0c0";
}
/* line 877, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List #messages::before {
  content: "\f086";
}
/* line 880, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List #notifs::before {
  content: "\f0f3";
}
/* line 883, ../sass/style.scss */
.header_Action_Phone_Bottom .action_List #param::before {
  content: "\f085";
}

/* line 888, ../sass/style.scss */
.navigation_Widget {
  position: fixed;
  z-index: 100011;
  background-color: white;
  width: 80%;
  height: 100%;
}
/* line 894, ../sass/style.scss */
.navigation_Widget .back {
  position: absolute;
  top: 0;
  right: 15px;
  width: 15px;
  height: 15px;
  font-size: 1.5em;
}
/* line 902, ../sass/style.scss */
.navigation_Widget .info_User {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 905, ../sass/style.scss */
.navigation_Widget .info_User .avatar {
  width: 20%;
  margin-left: 20px;
}
/* line 909, ../sass/style.scss */
.navigation_Widget .info_User .info_User_Text {
  width: 80%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: start;
  align-items: start;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 20px;
}
/* line 916, ../sass/style.scss */
.navigation_Widget .info_User .info_User_Text .exp {
  font-size: .7rem;
  font-weight: 600;
}
/* line 923, ../sass/style.scss */
.navigation_Widget .left {
  left: 0;
}
/* line 926, ../sass/style.scss */
.navigation_Widget .right {
  right: 0;
}
/* line 929, ../sass/style.scss */
.navigation_Widget .navigation_Widget {
  padding-top: 0;
  margin-top: 80px;
  overflow-y: auto;
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out,-webkit-transform .35s ease-in-out;
}
/* line 937, ../sass/style.scss */
.navigation_Widget .navigation_Widget_Mobile {
  margin-top: 0;
  z-index: 100000;
}
/* line 941, ../sass/style.scss */
.navigation_Widget .icons {
  color: rgba(172, 172, 172, 0.5) !important;
  font-size: 1.5rem;
}
/* line 945, ../sass/style.scss */
.navigation_Widget a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px 10px;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 400;
}
/* line 954, ../sass/style.scss */
.navigation_Widget span {
  color: rgba(172, 172, 172, 0.5);
  width: 20%;
}
/* line 958, ../sass/style.scss */
.navigation_Widget span:hover {
  color: #6f86d6;
}
/* line 961, ../sass/style.scss */
.navigation_Widget span::before {
  margin-left: 11px;
}
/* line 964, ../sass/style.scss */
.navigation_Widget #newsfeed::before {
  content: "\f1ea";
}
/* line 967, ../sass/style.scss */
.navigation_Widget #bar::before {
  content: "\f1ad";
}
/* line 970, ../sass/style.scss */
.navigation_Widget #Groups::before {
  content: "\f0c0";
}
/* line 973, ../sass/style.scss */
.navigation_Widget #newsfeed::before {
  content: "\f1ea";
}
/* line 976, ../sass/style.scss */
.navigation_Widget #members::before {
  content: "\f007";
}
/* line 979, ../sass/style.scss */
.navigation_Widget #members::before {
  content: "\f007";
}
/* line 982, ../sass/style.scss */
.navigation_Widget #badges::before {
  content: "\f0a3";
}
/* line 985, ../sass/style.scss */
.navigation_Widget #quests::before {
  content: "\f005";
}
/* line 988, ../sass/style.scss */
.navigation_Widget #events::before {
  content: "\f271";
}

/* line 992, ../sass/style.scss */
#mobile_Black_Zone {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99998;
  background-color: rgba(21, 21, 31, 0.8);
}
