@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");
/* line 5, ../sass/style.scss */
.none {
  display: none;
}

/* line 8, ../sass/style.scss */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

/* line 15, ../sass/style.scss */
button:focus {
  outline: none;
}

/* line 18, ../sass/style.scss */
*::before, *::after {
  display: block;
}

/* line 21, ../sass/style.scss */
ul, ol {
  list-style: none;
}

/* line 25, ../sass/style.scss */
a {
  text-decoration: none !important;
}

/* line 29, ../sass/style.scss */
select {
  appearance: none;
}

/* line 33, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p, ol, ul, figure, .table, .form-row {
  margin: 0;
}

/* line 36, ../sass/style.scss */
.icons {
  font-family: 'FontAwesome';
  font-size: 1.3rem;
  color: white;
}

/* line 41, ../sass/style.scss */
.contener-fluid {
  margin: 0 !important;
  width: 100%;
}

/************************************************************************************************************/
/******************************************* register / login ***********************************************/
/************************************************************************************************************/
/* line 48, ../sass/style.scss */
#login_Page {
  margin: 0 !important;
  width: 100%;
  height: 100vh;
  background: url(/public/imgs/landing/landing-background.jpg) no-repeat 0;
  background-size: cover;
  z-index: 10001;
}
/* line 55, ../sass/style.scss */
#login_Page .login_Page_Info, #login_Page .login_Page_Form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 61, ../sass/style.scss */
#login_Page .login_Page_Info {
  color: white;
  width: 900px;
}
/* line 64, ../sass/style.scss */
#login_Page .login_Page_Info .login_Page_Info_Title {
  font-family: Titillium Web,sans-serif;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}
/* line 70, ../sass/style.scss */
#login_Page .login_Page_Info .login_Page_Info_Sub_Text {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 70%;
  margin-top: 1.5rem;
}
/* line 79, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener {
  height: 600px;
  width: 500px;
  background-color: white;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 87, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener h2 {
  text-align: center;
}
/* line 90, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login {
  width: 80%;
}
/* line 92, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form {
  margin: 20px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 97, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form input {
  margin-top: 20px;
  border: 1px solid #615dfa;
}
/* line 101, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form input[type="submit"] {
  width: 100%;
  border: none;
}
/* line 106, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item {
  width: 50%;
  margin-top: 15px;
  -webkit-align-items: center;
  align-items: center;
}
/* line 109, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item input[type="checkbox"] {
  display: none;
}
/* line 113, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox {
  position: relative;
  display: inline;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 118, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox span {
  margin-left: 10px;
}
/* line 121, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox {
  display: none;
}
/* line 126, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label {
  margin: 12px 0;
  width: 20px;
  height: 20px;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}
/* line 141, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}
/* line 158, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:hover:before {
  width: 15px;
  height: 15px;
  box-shadow: inset 0 7px 10px #ff9d96;
}
/* line 165, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:active {
  transform: translateY(-50%) scale(0.9);
}
/* line 169, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}
/* line 175, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label:before {
  width: 0;
  height: 0;
}
/* line 181, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked {
  transform: translate(0);
  opacity: 1;
}
/* line 189, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .forget {
  text-align: end;
}
/* line 193, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text {
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}
/* line 199, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 7px;
  vertical-align: middle;
}
/* line 208, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:before {
  left: 0;
}
/* line 211, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:after {
  right: 0;
}

/************************************************************************************************************/
/************************************************** header **************************************************/
/************************************************************************************************************/
/* line 222, ../sass/style.scss */
.header, .header .header_Action {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

/* line 228, ../sass/style.scss */
.header {
  height: 80px;
  background-color: #615dfa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
/* line 235, ../sass/style.scss */
.header .header_Action {
  justify-content: flex-end;
}

/* line 239, ../sass/style.scss */
.header .header_Action .header_Text {
  margin: auto;
  color: #fff;
  font-family: Titillium Web,sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
}

/* line 247, ../sass/style.scss */
.navigation {
  height: 80px;
}

/* line 250, ../sass/style.scss */
.navigation .menu_Main {
  display: flex;
}

/* line 253, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item {
  position: relative;
}

/* line 256, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item .menu_Main_Item_Link {
  padding: 0 24px;
  display: block;
  color: rgba(255, 255, 255, 0.3);
  font-size: .75rem;
  font-weight: 700;
  line-height: 80px;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

/* line 266, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item .menu_Main_Item_Link:hover {
  color: white;
}

/* line 269, ../sass/style.scss */
#link_Sub_Menu::before {
  font-size: 1.2rem;
  content: "\f0c9";
}

/* line 274, ../sass/style.scss */
.header .header_Action .progress_Stat {
  width: 110px;
  margin: auto;
}

/* line 278, ../sass/style.scss */
.progress_Stat .bar-progress-wrap .bar-progress-info {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 286, ../sass/style.scss */
.progress_Stat .bar-progress-wrap .bar-progress-unit {
  margin-left: 3px;
  text-transform: uppercase;
}

/* line 290, ../sass/style.scss */
.info_Lvl {
  color: white;
  font-weight: 900;
  text-align: center;
}

/* line 295, ../sass/style.scss */
.info_Lvl span {
  font-size: 1.25rem;
}

/* line 298, ../sass/style.scss */
.header .action-list {
  height: 80px;
}

/* line 301, ../sass/style.scss */
.action-list {
  display: flex;
  padding: 0 18px;
  position: relative;
}

/* line 306, ../sass/style.scss */
.action-list:before {
  right: 0;
}

/* line 309, ../sass/style.scss */
.header .action-list:after, .header .action-list:before {
  top: 24px;
}

/* line 312, ../sass/style.scss */
.action-list:after, .action-list:before {
  content: "";
  width: 1px;
  height: 32px;
  background-color: #dedeea;
  position: absolute;
}

/* line 319, ../sass/style.scss */
.action-list .action-list-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 14px;
  cursor: pointer;
}

/* line 326, ../sass/style.scss */
#market::before {
  content: "\f290";
}

/* line 329, ../sass/style.scss */
#friends::before {
  content: "\f0c0";
}

/* line 332, ../sass/style.scss */
#messages::before {
  content: "\f086";
}

/* line 335, ../sass/style.scss */
#notifs::before {
  content: "\f0f3";
}

/* line 338, ../sass/style.scss */
.header .action-item {
  width: 80px;
  height: 80px;
}

/* line 342, ../sass/style.scss */
.action-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* line 348, ../sass/style.scss */
#param::before {
  content: "\f085";
}

/* line 351, ../sass/style.scss */
.interactive_Input {
  width: 500px;
  height: 52px;
  position: relative;
}

/* line 356, ../sass/style.scss */
.interactive_Input .interactive_Input_Icon_Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

/* line 367, ../sass/style.scss */
.search_Icon::before {
  content: "";
}

/* line 370, ../sass/style.scss */
.interactive_Input input {
  height: 100%;
  padding-right: 60px !important;
}

/* line 374, ../sass/style.scss */
input[type=password], input[type=text] {
  height: 54px;
  padding: 0 18px;
}

/* line 378, ../sass/style.scss */
input[type=password], input[type=text], select, textarea {
  background-color: rgba(18, 26, 136, 0.452);
  color: white;
  transition: border-color .2s ease-in-out;
}

/* line 383, ../sass/style.scss */
button, input[type=password], input[type=text], select, textarea {
  width: 100%;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
}

/* line 389, ../sass/style.scss */
button, input[type=password], input[type=text], label, select, textarea {
  font-family: Rajdhani,sans-serif;
}

/************************************************************************************************************/
/*************************************************** body ***************************************************/
/************************************************************************************************************/
/* line 396, ../sass/style.scss */
body {
  font-size: 16px;
  background-color: #f8f8fb;
  overflow-x: hidden;
}

/* line 401, ../sass/style.scss */
.sidebar {
  height: 100%;
  padding-top: 80px;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 413, ../sass/style.scss */
.left {
  left: 0;
}

/* line 416, ../sass/style.scss */
.right {
  right: 0;
}

/* line 420, ../sass/style.scss */
.navigation-widget {
  width: 300px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  position: relative;
}

/* line 427, ../sass/style.scss */
.avatar {
  margin: 20px 0;
  position: relative;
}
/* line 430, ../sass/style.scss */
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

/* line 436, ../sass/style.scss */
.onligne {
  position: absolute;
  background-image: linear-gradient(120deg, #d4fc79 0%, #00ff22 100%);
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  border: 2px solid white;
}

/* line 446, ../sass/style.scss */
.lvl_avatar {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: 2px white solid;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
}

/*************************************************** Sub Menu ***************************************************/
/* line 462, ../sass/style.scss */
.menu {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* line 467, ../sass/style.scss */
.menu .menu_Item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  color: rgba(172, 172, 172, 0.5);
  text-align: center;
  font-size: 2rem;
  transition: 0.3s;
}
/* line 479, ../sass/style.scss */
.menu .menu_Item span {
  color: rgba(172, 172, 172, 0.5);
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-size: 1.5rem;
}
/* line 486, ../sass/style.scss */
.menu .menu_Item span:hover {
  color: #6f86d6;
}
/* line 489, ../sass/style.scss */
.menu .menu_Item #newsfeed::before {
  content: "\f1ea";
}
/* line 492, ../sass/style.scss */
.menu .menu_Item #bar::before {
  content: "\f1ad";
}
/* line 495, ../sass/style.scss */
.menu .menu_Item #Groups::before {
  content: "\f0c0";
}
/* line 498, ../sass/style.scss */
.menu .menu_Item #newsfeed::before {
  content: "\f1ea";
}
/* line 501, ../sass/style.scss */
.menu .menu_Item #members::before {
  content: "\f007";
}
/* line 504, ../sass/style.scss */
.menu .menu_Item #members::before {
  content: "\f007";
}
/* line 507, ../sass/style.scss */
.menu .menu_Item #badges::before {
  content: "\f0a3";
}
/* line 510, ../sass/style.scss */
.menu .menu_Item #quests::before {
  content: "\f005";
}
/* line 513, ../sass/style.scss */
.menu .menu_Item #events::before {
  content: "\f271";
}
/* line 518, ../sass/style.scss */
.menu .menu_Item:hover {
  background-color: white;
  box-shadow: -1px 5px 25px 0px rgba(0, 0, 0, 0.52);
}

/* line 523, ../sass/style.scss */
.content-grid {
  max-width: 1184px;
  padding: 112px 0 100px;
  transform: translate(167.5px, 0px);
  transition: transform 0.4s ease-in-out 0s;
}

/* line 529, ../sass/style.scss */
.section_Banner {
  min-height: 160px;
  padding: 52px 60px 0 200px;
  border-radius: 12px;
  background: url(../imgs/banners/banner-bg.png) no-repeat 50%;
  position: relative;
}

/* line 537, ../sass/style.scss */
.section_Banner h1, .section_Banner p {
  color: white;
}

/* line 542, ../sass/style.scss */
.section_Banner h1 {
  font-size: 3rem;
  font-weight: 900;
}

/* line 549, ../sass/style.scss */
.section_Banner .section_Banner_Icon {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 555, ../sass/style.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 559, ../sass/style.scss */
.grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* line 565, ../sass/style.scss */
.etabs_Item_Cover {
  position: relative;
}

/* line 568, ../sass/style.scss */
.cat_Sticker {
  position: absolute;
  top: 10px;
  right: -10px;
  height: 32px;
  padding: 0 14px;
  border-radius: 200px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
  font-size: .875rem;
  font-weight: 700;
  line-height: 32px;
}

/* line 581, ../sass/style.scss */
.text_Sticker {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  padding: 0 14px;
  border-radius: 200px;
  background-color: black;
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 32px;
}

/* line 596, ../sass/style.scss */
.quest_Item {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  position: relative;
}

/* line 602, ../sass/style.scss */
.localisation {
  font-size: 1.1rem;
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: #615dfa;
}

/* line 609, ../sass/style.scss */
.section-filters-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 28px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  background-color: #fff;
}

/* line 620, ../sass/style.scss */
.lab_Checkbox_item {
  display: flex;
  flex-direction: row-reverse;
}
/* line 623, ../sass/style.scss */
.lab_Checkbox_item p {
  margin-left: 10px;
}
/* line 627, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox {
  position: relative;
  display: inline;
}
/* line 630, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox {
  display: none;
}
/* line 635, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}
/* line 653, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}
/* line 670, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:hover:before {
  width: 20px;
  height: 20px;
  box-shadow: inset 0 7px 10px #ff9d96;
}
/* line 677, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:active {
  transform: translateY(-50%) scale(0.9);
}
/* line 682, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark {
  position: absolute;
  top: -5px;
  right: 5px;
  left: -3px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-left: 5px;
  transform: rotateZ(-40deg);
}
/* line 695, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:before, .lab_Checkbox_item .lab_Checkbox #tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}
/* line 705, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:before {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-68px);
}
/* line 715, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:after {
  left: 0;
  bottom: 0;
  width: 25px;
  height: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(78px);
}
/* line 725, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}
/* line 731, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label:before {
  width: 0;
  height: 0;
}
/* line 737, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label #tick_mark:before, .lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label #tick_mark:after {
  transform: translate(0);
  opacity: 1;
}
