@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700&display=swap");
/* line 5, ../sass/style.scss */
.none {
  display: none !important;
}

/* line 8, ../sass/style.scss */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

/* line 15, ../sass/style.scss */
button:focus {
  outline: none;
}

/* line 18, ../sass/style.scss */
*::before, *::after {
  display: block;
}

/* line 21, ../sass/style.scss */
ul, ol {
  list-style: none;
}

/* line 25, ../sass/style.scss */
a {
  text-decoration: none !important;
}

/* line 29, ../sass/style.scss */
select {
  appearance: none;
}

/* line 33, ../sass/style.scss */
h1, h2, h3, h4, h5, h6, p, ol, ul, figure, .table, .form-row {
  margin: 0;
}

/* line 36, ../sass/style.scss */
.icons {
  font-family: 'FontAwesome';
  font-size: 1.3rem;
  color: white;
}

/* line 41, ../sass/style.scss */
.contener-fluid {
  margin: 0 !important;
  width: 100%;
}

/************************************************************************************************************/
/******************************************* register / login ***********************************************/
/************************************************************************************************************/
/* line 48, ../sass/style.scss */
#login_Page {
  margin: 0 !important;
  width: 100%;
  height: 100vh;
  background: url(/public/imgs/landing/landing-background.jpg) no-repeat 0;
  background-size: cover;
  z-index: 10001;
}
/* line 55, ../sass/style.scss */
#login_Page .login_Page_Info, #login_Page .login_Page_Form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 61, ../sass/style.scss */
#login_Page .login_Page_Info {
  color: white;
  width: 900px;
}
/* line 64, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 20px 0;
}
/* line 68, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener input {
  display: none;
}
/* line 71, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener label {
  display: -webkit-flex;
  display: flex;
  width: 250px;
  height: 60px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}
/* line 83, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener #btn_Action_Login_Login {
  border-radius: 15px 0 0 15px;
}
/* line 86, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener #btn_Action_Login_Register {
  border-radius: 0 15px 15px 0;
}
/* line 89, ../sass/style.scss */
#login_Page .login_Page_Info .btn_Contener input:checked + label {
  transition: 0.5s ease background-color;
  background-color: white;
  color: black;
}
/* line 95, ../sass/style.scss */
#login_Page .login_Page_Info .login_Page_Info_Title {
  font-family: Titillium Web,sans-serif;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}
/* line 101, ../sass/style.scss */
#login_Page .login_Page_Info .login_Page_Info_Sub_Text {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 70%;
  margin-top: 1.5rem;
}
/* line 110, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener {
  position: relative;
  height: 600px;
  width: 500px;
  background-color: white;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 119, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener .login_Page_Info_rocket {
  position: absolute;
  top: -20px;
  left: -60px;
}
/* line 124, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener h2 {
  text-align: center;
}
/* line 127, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register {
  width: 80%;
}
/* line 129, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form {
  margin: 20px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 134, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form input, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form input {
  margin-top: 20px;
  border: 1px solid #615dfa;
}
/* line 138, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form input[type="submit"], #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form input[type="submit"] {
  width: 100%;
  border: none;
}
/* line 143, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item {
  width: 50%;
  margin-top: 15px;
  -webkit-align-items: center;
  align-items: center;
}
/* line 146, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item input[type="checkbox"], #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item input[type="checkbox"] {
  display: none;
}
/* line 150, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox {
  position: relative;
  display: inline;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 155, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox span, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox span {
  margin-left: 10px;
}
/* line 158, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox {
  display: none;
}
/* line 163, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label {
  margin: 12px 0;
  width: 20px;
  height: 20px;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}
/* line 178, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}
/* line 195, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:hover:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label:hover:before {
  width: 15px;
  height: 15px;
  box-shadow: inset 0 7px 10px #ff9d96;
}
/* line 202, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox label:active, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox label:active {
  transform: translateY(-50%) scale(0.9);
}
/* line 206, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}
/* line 212, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked + label:before {
  width: 0;
  height: 0;
}
/* line 218, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .sub_Input .sub_Input_Item .lab_Checkbox ._checkbox:checked {
  transform: translate(0);
  opacity: 1;
}
/* line 226, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login form .forget, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register form .forget {
  text-align: end;
}
/* line 230, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text {
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  position: relative;
}
/* line 236, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 7px;
  vertical-align: middle;
}
/* line 245, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:before, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:before {
  left: 0;
}
/* line 248, ../sass/style.scss */
#login_Page .login_Page_Form .login_Page_From_Contener #form_Login .lined-text:after, #login_Page .login_Page_Form .login_Page_From_Contener #form_Register .lined-text:after {
  right: 0;
}

/************************************************************************************************************/
/************************************************** header **************************************************/
/************************************************************************************************************/
/* line 259, ../sass/style.scss */
.header, .header .header_Action {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

/* line 265, ../sass/style.scss */
.header {
  height: 80px;
  background-color: #615dfa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
/* line 272, ../sass/style.scss */
.header .header_Action {
  justify-content: flex-end;
}

/* line 276, ../sass/style.scss */
.header .header_Action .header_Text {
  margin: auto;
  color: #fff;
  font-family: Titillium Web,sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
}

/* line 284, ../sass/style.scss */
.navigation {
  height: 80px;
}

/* line 287, ../sass/style.scss */
.navigation .menu_Main {
  display: flex;
}

/* line 290, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item {
  position: relative;
}

/* line 293, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item .menu_Main_Item_Link {
  padding: 0 24px;
  display: block;
  color: rgba(255, 255, 255, 0.3);
  font-size: .75rem;
  font-weight: 700;
  line-height: 80px;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

/* line 303, ../sass/style.scss */
.navigation .menu_Main .menu_Main_Item .menu_Main_Item_Link:hover {
  color: white;
}

/* line 306, ../sass/style.scss */
#link_Sub_Menu::before {
  font-size: 1.2rem;
  content: "\f0c9";
}

/* line 311, ../sass/style.scss */
.header .header_Action .progress_Stat {
  width: 110px;
  margin: auto;
}

/* line 315, ../sass/style.scss */
.progress_Stat .bar-progress-wrap .bar-progress-info {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 323, ../sass/style.scss */
.progress_Stat .bar-progress-wrap .bar-progress-unit {
  margin-left: 3px;
  text-transform: uppercase;
}

/* line 327, ../sass/style.scss */
.info_Lvl {
  color: white;
  font-weight: 900;
  text-align: center;
}

/* line 332, ../sass/style.scss */
.info_Lvl span {
  font-size: 1.25rem;
}

/* line 335, ../sass/style.scss */
.header .action-list {
  height: 80px;
}

/* line 338, ../sass/style.scss */
.action-list {
  display: flex;
  padding: 0 18px;
  position: relative;
}

/* line 343, ../sass/style.scss */
.action-list:before {
  right: 0;
}

/* line 346, ../sass/style.scss */
.header .action-list:after, .header .action-list:before {
  top: 24px;
}

/* line 349, ../sass/style.scss */
.action-list:after, .action-list:before {
  content: "";
  width: 1px;
  height: 32px;
  background-color: #dedeea;
  position: absolute;
}

/* line 356, ../sass/style.scss */
.action-list .action-list-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 14px;
  cursor: pointer;
}

/* line 363, ../sass/style.scss */
#market::before {
  content: "\f290";
}

/* line 366, ../sass/style.scss */
#friends::before {
  content: "\f0c0";
}

/* line 369, ../sass/style.scss */
#messages::before {
  content: "\f086";
}

/* line 372, ../sass/style.scss */
#notifs::before {
  content: "\f0f3";
}

/* line 375, ../sass/style.scss */
.header .action-item {
  width: 80px;
  height: 80px;
}

/* line 379, ../sass/style.scss */
.action-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* line 385, ../sass/style.scss */
#param::before {
  content: "\f085";
}

/* line 388, ../sass/style.scss */
.interactive_Input {
  width: 500px;
  height: 52px;
  position: relative;
}

/* line 393, ../sass/style.scss */
.interactive_Input .interactive_Input_Icon_Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

/* line 404, ../sass/style.scss */
.search_Icon::before {
  content: "";
}

/* line 407, ../sass/style.scss */
.interactive_Input input {
  height: 100%;
  padding-right: 60px !important;
}

/* line 411, ../sass/style.scss */
input[type=password], input[type=text], input[type=email] {
  height: 54px;
  padding: 0 18px;
}

/* line 415, ../sass/style.scss */
input[type=password], input[type=text], input[type=email], select, textarea {
  background-color: rgba(18, 26, 136, 0.452);
  color: white;
  transition: border-color .2s ease-in-out;
}

/* line 420, ../sass/style.scss */
button, input[type=password], input[type=text], input[type=email], select, textarea {
  width: 100%;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
}

/* line 426, ../sass/style.scss */
button, input[type=password], input[type=text], input[type=email], label, select, textarea {
  font-family: Rajdhani,sans-serif;
}

/************************************************************************************************************/
/*************************************************** body ***************************************************/
/************************************************************************************************************/
/* line 433, ../sass/style.scss */
body {
  font-size: 16px;
  background-color: #f8f8fb;
  overflow-x: hidden;
}

/* line 438, ../sass/style.scss */
.sidebar {
  height: 100%;
  padding-top: 80px;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 450, ../sass/style.scss */
.left {
  left: 0;
}

/* line 453, ../sass/style.scss */
.right {
  right: 0;
}

/* line 457, ../sass/style.scss */
.navigation-widget {
  width: 300px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  position: relative;
}

/* line 464, ../sass/style.scss */
.avatar {
  margin: 20px 0;
  position: relative;
}
/* line 467, ../sass/style.scss */
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

/* line 473, ../sass/style.scss */
.onligne {
  position: absolute;
  background-image: linear-gradient(120deg, #d4fc79 0%, #00ff22 100%);
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  border: 2px solid white;
}

/* line 483, ../sass/style.scss */
.lvl_avatar {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: 2px white solid;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
}

/*************************************************** Sub Menu ***************************************************/
/* line 499, ../sass/style.scss */
.menu {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* line 504, ../sass/style.scss */
.menu .menu_Item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
  color: rgba(172, 172, 172, 0.5);
  text-align: center;
  font-size: 2rem;
  transition: 0.3s;
}
/* line 516, ../sass/style.scss */
.menu .menu_Item span {
  color: rgba(172, 172, 172, 0.5);
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-size: 1.5rem;
}
/* line 523, ../sass/style.scss */
.menu .menu_Item span:hover {
  color: #6f86d6;
}
/* line 526, ../sass/style.scss */
.menu .menu_Item #newsfeed::before {
  content: "\f1ea";
}
/* line 529, ../sass/style.scss */
.menu .menu_Item #bar::before {
  content: "\f1ad";
}
/* line 532, ../sass/style.scss */
.menu .menu_Item #Groups::before {
  content: "\f0c0";
}
/* line 535, ../sass/style.scss */
.menu .menu_Item #newsfeed::before {
  content: "\f1ea";
}
/* line 538, ../sass/style.scss */
.menu .menu_Item #members::before {
  content: "\f007";
}
/* line 541, ../sass/style.scss */
.menu .menu_Item #members::before {
  content: "\f007";
}
/* line 544, ../sass/style.scss */
.menu .menu_Item #badges::before {
  content: "\f0a3";
}
/* line 547, ../sass/style.scss */
.menu .menu_Item #quests::before {
  content: "\f005";
}
/* line 550, ../sass/style.scss */
.menu .menu_Item #events::before {
  content: "\f271";
}
/* line 555, ../sass/style.scss */
.menu .menu_Item:hover {
  background-color: white;
  box-shadow: -1px 5px 25px 0px rgba(0, 0, 0, 0.52);
}

/* line 560, ../sass/style.scss */
.content-grid {
  max-width: 1184px;
  padding: 112px 0 100px;
  transform: translate(167.5px, 0px);
  transition: transform 0.4s ease-in-out 0s;
}

/* line 566, ../sass/style.scss */
.section_Banner {
  min-height: 160px;
  padding: 52px 60px 0 200px;
  border-radius: 12px;
  background: url(../imgs/banners/banner-bg.png) no-repeat 50%;
  position: relative;
}

/* line 574, ../sass/style.scss */
.section_Banner h1, .section_Banner p {
  color: white;
}

/* line 579, ../sass/style.scss */
.section_Banner h1 {
  font-size: 3rem;
  font-weight: 900;
}

/* line 586, ../sass/style.scss */
.section_Banner .section_Banner_Icon {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 592, ../sass/style.scss */
img {
  vertical-align: middle;
  border-style: none;
}

/* line 596, ../sass/style.scss */
.grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* line 602, ../sass/style.scss */
.etabs_Item_Cover {
  position: relative;
}

/* line 605, ../sass/style.scss */
.cat_Sticker {
  position: absolute;
  top: 10px;
  right: -10px;
  height: 32px;
  padding: 0 14px;
  border-radius: 200px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
  font-size: .875rem;
  font-weight: 700;
  line-height: 32px;
}

/* line 618, ../sass/style.scss */
.text_Sticker {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  padding: 0 14px;
  border-radius: 200px;
  background-color: black;
  box-shadow: 3px 5px 20px 0 rgba(94, 92, 154, 0.12);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 32px;
}

/* line 633, ../sass/style.scss */
.quest_Item {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  position: relative;
}

/* line 639, ../sass/style.scss */
.localisation {
  font-size: 1.1rem;
  margin: 0 10px;
  display: flex;
  align-items: center;
  color: #615dfa;
}

/* line 646, ../sass/style.scss */
.section-filters-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 28px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
  background-color: #fff;
}

/* line 657, ../sass/style.scss */
.lab_Checkbox_item {
  display: flex;
  flex-direction: row-reverse;
}
/* line 660, ../sass/style.scss */
.lab_Checkbox_item p {
  margin-left: 10px;
}
/* line 664, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox {
  position: relative;
  display: inline;
}
/* line 667, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox {
  display: none;
}
/* line 672, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}
/* line 690, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}
/* line 707, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:hover:before {
  width: 20px;
  height: 20px;
  box-shadow: inset 0 7px 10px #ff9d96;
}
/* line 714, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox label:active {
  transform: translateY(-50%) scale(0.9);
}
/* line 719, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark {
  position: absolute;
  top: -5px;
  right: 5px;
  left: -3px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-left: 5px;
  transform: rotateZ(-40deg);
}
/* line 732, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:before, .lab_Checkbox_item .lab_Checkbox #tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}
/* line 742, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:before {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-68px);
}
/* line 752, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox #tick_mark:after {
  left: 0;
  bottom: 0;
  width: 25px;
  height: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(78px);
}
/* line 762, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}
/* line 768, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label:before {
  width: 0;
  height: 0;
}
/* line 774, ../sass/style.scss */
.lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label #tick_mark:before, .lab_Checkbox_item .lab_Checkbox ._checkbox:checked + label #tick_mark:after {
  transform: translate(0);
  opacity: 1;
}
